{{! The big featured header }}
<header id="header">
    <nav class="header-nav">

      <div class="custom-header"></div>

      <!--Change this to customize the navigation-->
      <div class="taglist-wrapper clearfix">
        {{navigation}}
      </div>
    </nav>
</header>
