{{! The big featured header }}
<header id="header">
  <nav class="banner header-nav">

    <div class="blog-title">
      <a href="{{@blog.url}}">{{@blog.title}}</a>
    </div>
  </nav>
  <!--Change this to customize the navigation-->
  <div class="taglist-wrapper clearfix">
    {{navigation}}
  </div>
</header>